:root {
  --bg-primary-color: #1C1919;
  --bg-secondary-color: #727272;
  --btn-color: #42E93F;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  margin: 24px 0;
}

.custom-container {
  background-color: var(--bg-secondary-color);
}

#input-section {
  display: flex;
  height: 80px;
  width: 400px;
  padding: 12px;
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
}

#input-section input {
  margin: 12px;
}

#search-result-container {
  
  display: flex;
  height: 350px;
  width: 700px;
  font-size: larger;
  justify-content: center;
  align-items: center;
}

#search-result {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  justify-content: flex-start;
  padding: 30px 12px;
  margin-right: 90px;
  align-content: center;
}

#search-result label {
  color: white;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  height: fit-content;
  width: 35%;
  justify-content: end;
  align-self: baseline;
  margin-right: 12px;
}

#search-result p {
  display: flex;
  font-size: medium;
  background-color: #ffffff;
  height: fit-content;
  width: 60%;
  justify-content: center;
  align-self: baseline;
}

footer {
  display: flex;
  justify-content: center;
  color: #198754;
  margin-top: auto;
}